<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>Members</th>
      <th>Stations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.start %></td>
        <td><%= team.members %></td>
        <td><% team.stations.each do |s| %>
          <%= s.number %>,&nbsp
        <% end %>
        </td>
        <td><%= link_to 'Show', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Problems</h3>
<li><strong>JS Support:</strong> Marcus >  203-984-1636</li>
<li><strong>Clue Support:</strong> Sara >  304-546-4772</li>
<li><strong>Tech Support:</strong> Charlie >  860-754-7447</li>

<h3>URLs</h3>
URLs take the form: <strong> scavhunt.herokuapp.com/clues/[location_slug]/[password_hash]</strong>, where [location_slug] is the name of your location and [password_hash] is your clue's answer.


