<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>Members</th>
      <th>Stations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.start %></td>
        <td><%= team.members %></td>
        <td><% team.stations.each do |s| %>
          <%= s.number %>,&nbsp
        <% end %>
        </td>
        <td><%= link_to 'Show', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
