<% if flash[:message] %>
<h3><%= flash[:message] %></h3>
<% end %>

<% if @result == nil %>
<h1>Correct -- What's your team name?</h1>
<%= form_tag("/correct", method: "post") do%>
	<select name = "team">
		<% @teams.each do |team| %>
			<option value= "<%= team.name %>"> <%= team.name %> </option>
		<% end %>
	</select>
	<input name="cluenum" value="<%= @cluenum.to_s %>" type="hidden" />
	<input type="submit" value="Continue" />
<% end %>

<% elsif @result[:correct] %>
	
<h1>Here's your next clue:</h1>
<p><%= @result[:clue].body %></p>
<% else %>
<h1>Wrong --- Try again!</h1>
<% end %>